<div *ngIf="beer">
    <div class="singleCard">
      <div class="d-flex">
        <div>
          <img [src]="beer.urlImmagine" >
        </div>
        <div>
          <h2 class="text-center">{{beer.nome}}</h2>
          <h5 class="text-center text-secondary">{{beer.slogan}}</h5>
          <h5 class="px-3">{{beer.descrizione}}</h5>
          <div class="d-flex  align-items-baseline detFoot ms-3 mt-3">
            <button (click)="addToShop()">ADD</button>
            <button [routerLink]="['/edit/'+ beer.id]" >Modifica</button>
            <p>{{beer.prezzo}} &#8364;</p>
          </div>
        </div>
      </div>
</div>
