.singleCard{
  padding: 40px;
  width: 50vw;
  margin: 0 auto;
  background-color: #f6b74b9e;

    img{
      width: 150px;
      padding-right: 20px;
    }

    .detFoot{
      width: 250px;

      button{
        margin-right: 10px;
        padding: 3px 8px;
        background-color: #0A2F69;
        color: #F6B74B;
        font-size: large;
      }
    }
}
