.singleCard {
  height: auto;
  padding: 20px;
  width: 50vw;
  margin: 0 auto;
  background-color: #f6b74b9e;

  @media screen and (max-width: 768px) {
    width: 90vw;
    padding: 10px;
  }

  img {
    max-width: 120px;
    padding-right: 20px;
    @media screen and (max-width: 768px) {
      display: block;
      width: 50px;
      margin: 0 auto;
    }
  }

  .detFoot {
    width: 100%;
    button {
      margin-right: 10px;
      padding: 5px 10px;
    }
  }
}

.deleteBeer {
  border: none;
  background: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.8rem;
  color: red;

  &:hover {
    transform: scale(1.25);
  }
}

@media screen and (max-width: 768px) {
  .singleCard {
    padding: 10px;
  }
}
