<div class="container py-5 bg-white">

  <div id="switch-to-admin" class="form-check form-switch">
    <label class="form-check-label text-primary" for="admin">Modalità moderatore</label>
    <input id="admin" class="form-check-input" type="checkbox" role="switch" (change)="toggleAdminMode()" >
  </div>

  <div *ngIf="!editMode">
    <div>
      <p>Nome: {{user?.name}}</p>
      <p>Cognome: {{user?.surname}}</p>
      <p>Email: {{user?.email}}</p>
    </div>
    <div>
      <button (click)="editMode=!editMode" class="btn btn-warning me-2">Modifica Dati</button>
      <button (click)="logOut()" class="btn btn-danger me-2">Disconnettiti</button>
      <button (click)="deleteAccount()" class="btn btn-dark">Elimina Account</button>
      <div *ngIf="deleting" class="bg-dark mt-3 text-white p-3">
        <h3>Sei sicuro di volere eliminare questo account?</h3>
        <label for="deleting-name" class="mb-1">Inserisci "{{user?.name}}" per confermare l'eliminazione!</label>
        <div class="d-flex me-1">
          <input id="deleting-name" class="me-2" [(ngModel)]="deletingName" type="text">
          <button class="btn btn-danger me-2" (click)="confirmDelete()">ELIMINA</button>
          <button class="btn btn-success" (click)="cancelDelete()">No</button>
        </div>
        <div *ngIf="wrongName">Se si desidera proseguire inserire il proprio nome</div>
      </div>
    </div>
  </div>
  <div>
    <app-edit-profile [editMode]="editMode">
      <button class="disable-edit-mode btn btn-primary" *ngIf="editMode" (click)="editMode=!editMode"><fa-icon [icon]="['fas','arrow-left']" class="paginate-button__icon"></fa-icon></button>
    </app-edit-profile>
  </div>
</div>

