<div class="paginator">
    <div class="paginator__prev">
        <span class="button paginate-button" [ngClass]="{ 'paginate-button--disabled': page <= 1 }" (click)="goToPreviousPage()">

        </span>
    </div>
    <div class="paginator__page">
        <input type="text" class="text-input paginator__page__go-to-input" [(ngModel)]="page" (input)="goToPage($event)">
    </div>
    <div class="paginator__next">
        <span class="button paginate-button" (click)="goToNextPage()"></span>
    </div>
</div>
