@import "../../../colors.scss";

.card {
  background-color:  #f6b74b9e;
  border-radius: 0.6rem;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  padding: 0rem 1rem;
  position: relative;

  &:hover #icon {
    color: $primary;
      filter: brightness(0.8);
  }

  &__img {
    align-self: center;
    padding-top: 30px;
    height: 150px;
    transition: all 0.3s;
    max-width: 100%;
  }

  &__data {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    margin: 1rem 0rem;
    transition: all 0.3s;

    &--title {
      font-weight: bold;
      text-align: center;
    }

    .addToWishList{
      z-index: 1000;
    }

  }

  @media(min-width:768px) {

    &:hover {
      background-color: $dark-blue;
    }

    &:hover & {
      &__img {
        transform: rotateZ(45deg);
      }

      &__data {
        color: $secondary;
      }
    }
  }
  @media (max-width: 320px) {
    padding: 5px 10px;
    &__img {
      height: 140px;
      position: static;
      top: 20px;

    }

    &__data {
      margin:0.2rem;
    }

    p{
      margin-bottom: 0;
    }

  }
}

.addToWishList{
  border: none;
  background:none;
  position: absolute;
  top: 20px;
  color: $dark-blue;
  font-size: 1.8rem;
  @media (max-width: 320px) {
    top:10px;
    font-size: 1.5rem;



  }
}

button:hover{
  transform: scale(1.25);
}
a{
  color:black;
  text-decoration: none;
}





