@import "../../../colors.scss";

.card {
  background-color:  #f6b74b9e;
  border-radius: 0.6rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  padding: 0rem 1rem;
  position: relative;

  &__img {
    align-self: center;
    padding-top: 30px;
    height: 150px;
    transition: all 0.3s;
  }

  &__data {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    margin: 1rem 0rem;
    transition: all 0.3s;

    &--title {
      font-weight: bold;
      text-align: center;
    }

    .addToWishList{
      z-index: 1000;
    }

  }

  @media(min-width:768px) {

    &:hover {
      background-color: $dark-blue;
    }

    &:hover & {
      &__img {
        transform: rotateZ(45deg);
      }

      &__data {
        color: $secondary;
      }
    }
  }
}

button{
  border: none;
  background:none;
  position: absolute;
  top: 20px;
  font-size: 20px;
  color: red;
}

button:hover{
  transform: scale(1.25);
}





