<div class="container">
  <div class="filter-container">
      <app-name-filter (beerNameEvent)="searchBeersByName($event)"></app-name-filter>
  </div>

  <div class="card-container" *ngIf="beers.length > 0">
      <div *ngFor="let beer of beers" >
        <a [routerLink]="['/details/'+ beer.id]">
          <app-beer-card [beer]="beer"></app-beer-card>
        </a>
        <button (click)="addToWishList(beer.id)">Add to Whishlist</button>
      </div>

  </div>

  <div class="paginator-container">
      <app-paginator
          [currentPage]="currentPage"
          (pageChange)="onPageChange($event)"
      ></app-paginator>
  </div>
</div>
