<div class="header d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <a routerLink="home" routerLinkActive="router-link-active">
      <img src="/assets/img/logo1.png" alt="logo" class="logo"
    /></a>
    <h1 class="title">The Brawl Beer</h1>
  </div>
  <div>
    <a routerLink="/home">HOME</a>
    <a routerLink="/whitebeer">White Beer</a>
    <a routerLink="/redbeer">Red Beer</a>
    <a routerLink="/blondbeer">Blonde Beer</a>
    <a routerLink="userprofile">Profilo</a>
  </div>
  <div>
    <a routerLink="/LogSystem">LogIn</a>
  </div>
</div>
