<section>
  <h2>Politica di Rimborso</h2>
  <p>Al The Brawl Beer, la soddisfazione del cliente è la nostra priorità principale. Se non sei completamente soddisfatto del tuo acquisto, ti invitiamo a leggere la nostra politica di rimborso qui di seguito.</p>
</section>

<section>
  <h3>Condizioni di Rimborso</h3>
  <p>Le richieste di rimborso saranno prese in considerazione solo se soddisfano i seguenti criteri:</p>
  <ul>
      <li>La richiesta di rimborso deve essere effettuata entro 14 giorni dalla data di consegna.</li>
      <li>Il prodotto deve essere restituito nella sua confezione originale e in condizioni non deteriorate.</li>
      <li>I costi di spedizione per la restituzione sono a carico del cliente, a meno che il prodotto non sia difettoso o non conforme alla descrizione.</li>
  </ul>
</section>

<section>
  <h3>Procedura di Rimborso</h3>
  <p>Per iniziare il processo di rimborso, segui questi passaggi:</p>
  <ol>
      <li>Contattaci all'indirizzo email: rimborsi&amp;thebrawlbeer.it con il tuo numero d'ordine e la motivazione del rimborso.</li>
      <li>Riceverai istruzioni su come restituire il prodotto.</li>
      <li>Una volta ricevuto il prodotto restituito, il nostro team esaminerà la tua richiesta e, se approvata, procederà con il rimborso.</li>
  </ol>
</section>

<section>
  <h3>Domande?</h3>
  <p>Se hai domande sulla nostra politica di rimborso, non esitare a contattarci all'indirizzo email sopra menzionato.</p>
</section>


