
  <div class="rounded text-center ">
  <section class="text-center">
      <h2>Informazioni Spedizioni</h2>
      <p>Qui troverai tutte le informazioni relative alle modalità e ai costi di spedizione per acquistare le nostre birre.</p>
  </section>

  <section>
      <h3>Modalità di Spedizione</h3>
      <p>Le nostre birre vengono spedite tramite corriere espresso e sono imballate con cura per garantirne l'integrità.</p>
  </section>

  <section>
      <h3>Costi e Tempi di Consegna</h3>
      <p>I costi di spedizione variano in base al peso dell'ordine e alla destinazione. I tempi di consegna sono generalmente di 2-3 giorni lavorativi.</p>
  </section>

  <section>
      <h3>Politica di Reso</h3>
      <p>Se la merce dovesse arrivare danneggiata, contattaci entro 24 ore per gestire il reso o la sostituzione del prodotto.</p>
  </section>
</div>

