@import "../../../../colors.scss";

.card {
  background-color: $secondary;
  border-radius: 0.6rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 590px;
  justify-content: center;
  padding: 0rem 1rem;
  width: 365px;

  &__img {
    align-self: center;
    height: 150px;
    transition: all 0.3s;
  }

  &__data {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    margin: 1rem 0rem;
    transition: all 0.3s;

    &--title {
      font-weight: bold;
      text-align: center;
    }
  }

  @media(min-width:768px) {

    &:hover {
      background-color: $dark-blue;
    }

    &:hover & {
      &__img {
        transform: rotateZ(25deg);
      }

      &__data {
        color: $secondary;
      }
    }
  }
}

