.userTab{
  height: 80vh;
  form{
    background-color: #0A2F69;
    color: white;
    padding: 20px 20px;
    input{
      margin: 10px 0;
    }
    button{
      background-color:  #f6b74bf8;
      color: black;
      font-size: large;
    }
  }
}
