<div class="bg-footer justify-content-between">
  <div class="footer-menu pt-1">
    <a href=""
      ><img class="scarica rounded" src="/assets/img/scarica-app.png" alt=""
    /></a>
    <a href=""
      ><img class="scarica rounded" src="/assets/img/scarica-2.png" alt=""
    /></a>
  </div>

  <div class="me text-center">
    <p class="me-3">Scarica l'app :</p>
    <div class="d-flex">
      <a href=""><img
          class="scarica mt-1 mb-1 rounded"
          src="/assets/img/scarica-app.png"
          alt=""/></a>
      <a href=""><img
          class="scarica mt-1 mb-1 rounded"
          src="/assets/img/scarica-2.png"
          alt=""/></a>
    </div>
  </div>

  <div>
    <ul class="d-flex list">
      <li>
        <a
          class=""
          routerLink="/servizioclienti"
          routerLinkActive="router-link-active">
          <p class="me-3">Servizio Clienti</p>
        </a>
      </li>
      <li>
        <a class="" routerLink="/spedizioni">
          <p class="me-3">Spedizioni</p>
        </a>
      </li>
      <li>
        <a class="" routerLink="/rimborsi">
          <p class="me-3">Resi e Rimborsi</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="menu-icons d-flex justify-content-center align-items-center h3 pt-1 me-2">
  <a href="" class="icons">
    <fa-icon
      [icon]="['fab', 'facebook']"
      class="paginate-button__icon h3">
      </fa-icon>
  </a>
  <a href="" class="icons">
    <fa-icon
      [icon]="['fab', 'instagram']"
      class="paginate-button__icon">
    </fa-icon>
  </a>
  <a href="" class="icons">
    <fa-icon
      [icon]="['fab', 'youtube']"
      class="paginate-button__icon h3">
      </fa-icon>
  </a>
</div>
