
<div class="bg-footer d-md-flex flex-md-wrap">
      <div class="footer-container-logo p-3 rounded ">
        <img src="/assets/img/logofooter.png" class="img-fluid rounded h-100" alt="logo footer">
      </div>

    <div class="flex-sm-wrap gap-sm">
          <div class="menu-icons d-flex justify-content-center align-items-center h3 ">
            seguici su :
            <a href="" class=" icons ms-3"><fa-icon [icon]="['fab','facebook']" class="paginate-button__icon h3"></fa-icon></a>
            <a href="" class=" icons m-3"><fa-icon [icon]="['fab','instagram']" class="paginate-button__icon"></fa-icon></a>
            <a href="" class=" icons "><fa-icon [icon]="['fab','youtube']" class="paginate-button__icon h3"></fa-icon></a>
          </div>

        <div class="footer-menu ">


            <div class="me">
              <p class="me-3" >Scarica l' app :</p>

              <a href=""><img class="scarica mt-1 mb-1 rounded" src="/assets/img/scarica-app.png" alt=""></a>
              <a href=""><img class="scarica mt-1 mb-1 rounded" src="/assets/img/scarica-2.png" alt=""></a>
           </div>

           <div class="row">
                  <a  class="col-3" routerLink="/servizioclienti" routerLinkActive="router-link-active">
                    <p  class="me-3 ">Servizio Clienti</p>
                  </a>
                  <a class="col-3" routerLink="/spedizioni">
                    <p class="me-3 ">Spedizioni</p>
                  </a>
                  <a class="col-3" routerLink="/rimborsi">
                    <p class="me-3 ">Resi e Rimborsi</p>
                  </a>
          </div>
        </div>
  </div>
</div>
