
.bg-footer{

  background-color: #0a2f69;
  bottom: 0%;
  width: 100%;
}

//dimensioni foto logo

.footer-container-logo{
  height: 25vh;

}

// bottoni scarica app
.scarica{
  height: 30px;
  width: 100px;
  margin: 10px;
}




//colori footer
a {
  color:  #F6B74B;
  text-decoration: none;
}

div{
  color: #FEEFDE;
}
.icons{
  color:  #F6B74B;
}

// brackpoints
@media only screen and (max-width: 600px) {
  .footer-container-logo{
    height: 35vh;
    display: flex;
    justify-content: center;
  }
  .footer-menu{
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(2,minmax(2em,1fr));
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

  }
}
@media only screen and (min-width: 600px) {

  .footer-menu{
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
  }

  .menu-scarica{
    display: flex;
    flex-wrap: wrap;
  }

  .bg-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
  }
}


