@import "../../../../colors.scss";

.card {
  background-color: $secondary;
  border-radius: 0.6rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 590px;
  justify-content: center;
  padding: 0rem 1rem;
  width: 365px;
  position: relative;

  &__img {
    align-self: center;
    height: 150px;
    transition: all 0.3s;
  }

  &__data {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    margin: 1rem 0rem;
    transition: all 0.3s;

    &--title {
      font-weight: bold;
      text-align: center;
    }
  }

  @media(min-width:768px) {

    &:hover {
      background-color: $dark-blue;
    }

    &:hover & {
      &__img {
        transform: rotateZ(25deg);
      }

      &__data {
        color: $secondary;
      }
    }
  }
}

.card__img{
position: absolute;
top: 10px;
}

.card__data--title{
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 179px;
  align-items: center;
}

.card__data--text.desc{
  height: 208px;
  overflow-y: auto;
}
.wish{
  background-color: $dark-blue;
  color: $primary;
  font-size: large;
  border-radius: 5px;
}

.wish:hover{
  background-color: $primary;
  color:  $dark-blue;
}
